$small: 750px;
$medium: 920px;
$mediumWidth: 900px;
$large: 1000px;

$mainFont: 'Nanum Myeongjo', serif;

$darkGrey: #8D8D8D;
$lightGrey: #C5C3C3;
$purple: #AB9D9E;
$beige: #EEEBEB;
$pink: #F6EDED;
$translucentWhite: #FFFFFFA0;
$bodyColour: #FFFDFD;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $mainFont;
    color: $darkGrey;
}

body {
    background-color: $bodyColour;
    position: relative;
}

.full-width {
    width: 100%;
    border: 1px solid transparent;
    padding: 0 20px;
}

.row {
    
    .col-quarter {
//        border: 1px solid blue;
        
        @media only screen and (min-width: $small) {
            float: left;
            width: 25%;
        }
    }
}

#menu-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    font-size: 32px;
    
    
//    #menu-checkbox {
//        display: none;
//        position: relative;
//        z-index: 10;
//    }
    
//    #menu-button {
//        display: none;
//        background-color: $translucentWhite;
//        width: 100px;
//        height: 40px;
//        position: relative;
//        float: right;
//        padding-top: 5px;
//        text-align: center;
//        z-index: 1;
//        
//        &:hover {
//            cursor: pointer;
//        }
//        
////        span {
////            position: absolute;
////            left: 50%;
////            transform: translateX(-50%);
////        }
//        
//        #close-menu {
//            display: none;
//        }
//    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    #menu-list {
        display: flex; //was none
//        border: 1px solid red;
        background-color: $beige;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 100%; //was 0
        transition: left 1s;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        
        li {
            text-align: center;
            margin: 20px 0;
            list-style: none;
        }
    }
    
//    #menu-checkbox:checked {
//        
//        &~label {
//            #close-menu {
//                display: block;
//            }
//
//            #open-menu {
//                display: none;
//            }
//            
////            #menu-list {
////                display: flex;
////            }
//        }
//            
//        
////        &~#menu-list {
////            display: flex;
////            left: 0;
////        }
//    }
    
    #menu-button2 {
        font-size: 22px;
        background-color: $translucentWhite;
        width: 80px;
        height: 35px;
        position: relative;
        float: right;
        padding-top: 5px;
        text-align: center;
        z-index: 1;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    #close-menu2 {
//        display:none;
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 35px;
        font-size: 22px;
        padding-top: 5px;
        text-align: center;
        background-color: $translucentWhite;
    }
    
    #menu-button2:focus ~ #menu-list {
        left: 0;
    }

    
    @media only screen and (min-width: $medium) {
        height: 60px;
        font-size: 24px;
        
        #menu-button2, #close-menu2 {
            display: none;
        }
        
        #menu-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
//            border: 1px solid blue;
            height: 60px;
            left: 0;

            
            li {
                float: left;
                list-style: none;
//                border: 1px solid green;
                margin: 0 10px;
                height: 100%;
                line-height: 55px;
                padding: 0 10px;
                
                a {
                    width: 100%;
                }
            }
        }
    }
    
}

#header-section {
    position: relative;
    z-index: 0;
    max-height: 700px;
    overflow-y: hidden;
    
    #header-background {
        width: 100%;
        display: block;
        margin: 0;

        source, img {
            width: 100%;
            display: block;
        }
    }

    h1 {
        display: none;
    }
    
    #header-text-container {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
//        border: 1px solid green;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        #h1-replacement {
//            border: 1px solid red;
            font-size: 48px;
            position: relative;
            margin: 0 auto 40px auto;
//            top: 40%;
            width: 200px;
            height: 120px;
//            left: 50%;
//            transform: translateX(-50%);

            span {
                position: absolute;

                &:nth-of-type(1) {
                    top: 0;
                    left: 25px;
                }

                &:nth-of-type(2) {
                    top: 34px;
                }

                &:nth-of-type(3) {
                    top: 68px;
                    left: 40px;
                }
            }

            @media only screen and (min-width: $medium) {
                font-size: 75px;
                width: 320px;
                height: 200px;

                span {
                    position: absolute;

                    &:nth-of-type(1) {
                        top: 0;
                        left: 50px;
                    }

                    &:nth-of-type(2) {
                        top: 58px;
                    }

                    &:nth-of-type(3) {
                        top: 116px;
                        left: 80px;
                    }
                }
            }
        }

        h2 {
//            position: absolute;
//            left: 50%;
//            transform: translateX(-50%);
//            top: 60%;
//            border: 1px solid red;
            text-align: center;
            width: 300px;
            margin: 0 auto;
            padding: 20px;
            background-color: $translucentWhite;
        }
    }
}

.intro {
    font-size: 22px;
    text-align: center;
    margin: 50px 0;
    line-height: 150%;
    
    @media only screen and (min-width: $small) {
        padding: 20px 80px;
    }
}

.about {
//    height: 400px;
    margin: 0 auto 100px auto;
    width: 100%;
    
    .image-holder {
        width: 100%;
        overflow-y: hidden;
//        border: 1px solid red;
        
        img {
            width: 100%;
            display: block;
        }
    }
    
    .about-text {
//        border: 1px solid red;
        
        background-color: $pink;
        padding: 20px;
        
        h2 {
            text-align: center;
            padding: 20px 0;
        }
        
        p {
            font-size: 20px;
            line-height: 149%;
            text-align: justify;
        }
    }
    
    @media only screen and (min-width: $small) {
        .image-holder {
            width: 55%;
            height: 0;
            padding-bottom: 39%;
            float: left;
            margin: 0 20px 0 0;
        }
        
        .about-text {
            margin: 145px 0 0 240px;
        }
    }
    
    @media only screen and (min-width: $medium) {
        width: $mediumWidth;
//        margin-left: 10%;
    }
}

.testimonials-services {
    
    width: 100%;
//    border: 1px solid red;
    margin: 0 auto 100px auto;
    
    .testimonials {
//        border: 1px solid blue;
        background-color: white;
        height: 400px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 100px;
        
        p {
            text-align: center;
            margin: 0 20px;
            font-size: 20px;
//            border: 1px solid blue;
        }
        
        #quote {
            font-family: Satisfy, cursive;
            font-size: 22px;
        }
        
        svg {
            width: 70px;

            .quote-mark-colour {
                fill: $purple;
            }
        }
        
        svg:nth-of-type(1) {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        svg:nth-of-type(2) {
            transform: rotate(180deg);
            float: right;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
    .image-holder {
//        border: 1px solid red;

        img {
            width: 100%;
            display: block;
        }
    }

    .services-text {
//        border: 1px solid blue;
        background-color: $beige;
        padding: 20px;

        h2 {
            text-align: center;
            padding: 20px 0;
        }

        p {
            font-size: 20px;
            line-height: 149%;
            text-align: justify;
        }
    }
    //-------------------
    
    @media only screen and (min-width: $small) {
        margin: 100px auto 300px auto;
        
        .testimonials {
            width: 300px;
            height: 350px;
            float: left;
            margin-bottom: 0;
        }
        
        .image-holder {
            width: 58%;
            height: 0;
            padding-bottom: 35%;
            overflow-y: hidden;
            clear: left;
            float: left;
            shape-outside: border-box;
            shape-margin: 20px;
            margin: 61px 20px 0 0;
        }
        
        .services-text {
            margin: 100px 0 0 350px;
        }
    }
    
    @media only screen and (min-width: $medium) {
        margin: 100px auto 400px auto;
        width: $mediumWidth;
    }
}

.process {
    margin: 0 auto;
//    border: 1px solid green;
    
    .image-holder {
//        border: 1px solid red;
        
        img {
//            border: 1px solid red;
            width: 100%;
            display: block;
        }
    }
    
    .process-text {
//        border: 1px solid red;
        background-color: $pink;
        padding: 20px;
        
        h2 {
            text-align: center;
            padding: 20px 0;
        }
        
        p {
            font-size: 20px;
            line-height: 149%;
            text-align: justify;
        }
    }
    
    

    #process-row {
        position: relative;
        margin: 100px 0;
//        border: 1px solid red;
//        height: 600px;
        
        .process-circle {
            width: 170px;
            height: 170px;
            border-radius: 50%;
            background-color: #EDE6E6;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
            }
        }

        .arrow {
            position: absolute;
        }
    
        .process-step {
//            position: absolute;
            text-align: center;
            max-width: 200px;
//            border: 1px solid red;
            margin: 0 auto;
            font-size: 20px;
            padding: 20px 0;
        }

        #process-1 {
            //padding-top: 150px;
            top: 0;
            left: 0;
            text-align: center;
        }

        #process-2 {
            //padding-top: 150px;
            top: 0;
            right: 10%;
            text-align: center;
        }

        #process-3 {
            //padding-top: 200px;
            top: 0;
            left: 10%;
            text-align: center;
        }

        #process-4 {
            //padding-top: 50px;
            top: 0;
            right: 10%;
            text-align: center;
        }

        #arrow1 {
            top: 200px;
            right: 5%;
            transform: rotate(135deg);
        }

        #arrow2 {
            top: 470px;
            left: 5%;
            transform: scale(1,-1) rotate(-45deg);
        }

        #arrow3 {
            top: 720px;
            right: 5%;
            transform: rotate(135deg);
        }
    }
    
    @media only screen and (min-width: $small) {
        .image-holder {
//            width: 55%;
//            height: 0;
//            padding-bottom: 36%;
            overflow-y: hidden;
            float: right;
            margin: 0 0 0 20px;
        }
        
        .process-text {
            margin: 145px 200px 0 10px;
        }
        
        #process-row {
            height: 400px;

            .process {
                p {
                    width: auto;
                }
            }

            #process-row {
                height: 400px;
                margin-top: 200px;
            }

            .process-step {
                position: static;
            }

            #process-2 {
                padding-top: 140px;
            }

            #process-4 {
                padding-top: 140px;
            }

            .process-circle-desktop {
                position: absolute;
                top: 200px;
            }

            .arrow {
                -webkit-transform: rotate(270deg);
                -moz-transform: rotate(270deg);
                -o-transform: rotate(270deg);
                -ms-transform: rotate(270deg);
                transform: rotate(270deg);
            }

            #arrow1 {
                top: 250px;
                left: 15%;
                transform: scale(1, -1);
            }

            #arrow2 {
                top: 72px;
                left: 38%;
                transform: scale(1, 1);
            }

            #arrow3 {
                top: 250px;
                right: 27%;
                transform: scale(1, -1);
            }
            
            
        }
        
    }
    
    @media only screen and (min-width: $medium) {
        width: $mediumWidth;
    }
}

.gallery-wrapper {
    width: 100%;
//    border: 1px solid green;
    position: relative;
    
    h2 {
        text-align: center;
        padding: 30px 0;
    }
    
    .scroll-buttons {
        width: 30px;
        position: absolute;
        z-index: 2;
        top: 42%;
//        border: 1px solid red;
        
        &:hover {
            cursor: pointer;
        }
        
        
        
        .scroll-arrow-svg {
            fill: $pink;
        }
    }
    
    .scroll-left {
        left: 20px;
    }

    .scroll-right {
        transform: rotate(180deg);
        right: 20px;
    }
}

.gallery-track {
    overflow-x: scroll;
    margin-bottom: 100px;
    position: relative;
    
    

}

#hide-scrollbar {
    display: none;
    width: 100%;
    height: 20px;
    background-color: $bodyColour;
    position: relative;
    bottom: 120px;
}

.gallery-container {
    width: 2000px;
//    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    
    .gallery-item {
//        float: left;
        margin: 20px;
//        width: 300px;
        height: 300px;
        
        img {
            max-width: 100%;
            height: 100%;
        }
    }
}

#swipe-photo-gallery-container {
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    position: fixed;
    z-index: 5;
    top: 0;
    display: none;
    
    .swipe-photo-gallery {
        width: 100%;
        display: flex;
//        border: 1px solid red;
        box-sizing: border-box;
        height: 100vh;
        --n: 4;
        width: calc(var(--n) * 100%);
        transform: translateX(calc((var(--i, 0) * (-100%) / var(--n)) + var(--tx, 0px)));
        

        img {
//            min-width: 100%;
//            width: 100%;
            height: 100%;
            object-fit: contain;
            width: calc(100% / var(--n));
//            border: 1px solid green;
            pointer-events: none;
        }
    }
    
    .smooth {
        transition: transform 0.5s ease-out;
    }
    
    .swipe-gallery-controls {
        position : absolute;
        z-index: 6;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        .close-gallery {
            position: absolute;
            top: 0;
            right: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;
            
            .close-gallery-cross {
                width: 80%;
                height: 3px;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 10%;
                background-color: white;
            }
            
            .cross-1 {
                transform: translateY(-50%) rotate(45deg);
            }

            .cross-2 {
                transform: translateY(-50%) rotate(-45deg);
            }
        }
        
        .slide-scroll-controls {
            position: absolute;
            height: 100px;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            
            .scroll-arrow-svg {
                fill: $pink;
            }
            
            .scroll-arrow {
                position: absolute;
                top: 0;
                height: 100%;
                width: 60px;
                display: none;
                
                &:hover {
                    cursor: pointer;
                }
                
                svg {
                    position: absolute;
                    top: 10%;
                    left: 10%;
                    width: 80%;
                    height: 80%;
                    pointer-events: none;
                }
            }
            
            #scroll-left {
                left: 0;
            }
            
            #scroll-right {
                right: 0;
                
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }
    
    #caption-container {
        width: 100%;
        height: 120px;
        position: absolute;
        bottom: 0;
        background-color: #4A4A4AC0;
        padding: 0 30px;
        
        h3 {
            color: white;
            font-family: $mainFont;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    
}

.contact-form {
    background-color: $pink;
//    padding-bottom: 80px;
    
    h2 {
        text-align: center;
        padding: 50px 0 20px 0;
    }
    
    p {
        text-align: center;
        font-size: 20px;
        padding: 20px 0;
    }
    
    label {
        display: block;
        font-size: 20px;
        font-family: $mainFont;
//        border: 1px solid red;
        width: 100%;
        margin: 0 auto;
    }
    
    input, textarea {
        width: 100%;
        background-color: $bodyColour;
        border: none;
        font-size: 20px;
        margin-bottom: 20px;
        padding: 0 5px;
    }
    
    input {
        height: 30px;
    }
    
    textarea {
        height: 100px;
        padding-top: 5px;
    }
    
    button {
        font-size: 20px;
        padding: 5px 20px;
        display: block;
        margin: 20px auto 0 auto;
        background-color: $lightGrey;
        border: none;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    #made-by-micro {
        padding: 50px 0 20px 0;
    }
    
    @media only screen and (min-width: $medium) {
        padding: 0 40px;
        
        h2 {
            text-align: left;
        }
        
        #contact-text {
            text-align: left;
            width: 40%;
            padding-right: 20px;
//            border: 1px solid red;
            float: left;
        }
        
        label {
//            display: block;
            width: 60%;
//            border: 1px solid green;
            margin: 0 auto;
            float: right;
        }

        input, textarea {
            width: 60%;
            margin-bottom: 20px;
            padding: 0 5px;
            float: right;
        }

        button {
            clear: both;
            margin: 0 0 0 70%;
            transform: translate(-50%, 10px);
        }
    }
}