

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Nanum+Myeongjo', 'Satisfy']
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            
            $('#menu-checkbox').on('click touch', function() {
                if (this.checked) {
                    $('#menu-close').css('display', 'block');
                    $('#menu-burger').css('display', 'none');
                }
                if (!this.checked) {
                    $('#menu-close').css('display', 'none');
                    $('#menu-burger').css('display', 'block');
                }
            })
                
    
            const swipePhotoGallery = document.getElementById('swipe-photo-gallery-id');

            const swipePhotoGalleryContainer = document.getElementById('swipe-photo-gallery-container');

            const N = swipePhotoGallery.children.length;
            swipePhotoGallery.style.setProperty('--n', N);
//                swipePhotoGallery.style.setProperty('--i', 3);

            let x0 = null;
            let locked = false;
            let tx = '';
            var mousemoveTimeout;
            var imgArray = [];
            var titleArray = [];
            var mediumArray = [];
            var sizeArray = [];
            var n = 0;
            var m = 0;
            while (n == 0) {
                if ($('#' + m).length) {
                    imgArray[m] = m;
                    titleArray[m] = $('#title-' + m).html();
                    mediumArray[m] = $('#medium-' + m).html();
                    sizeArray[m] = $('#size-' + m).html();
                    m++;
                } else {
                    n++;
                }
            }

            function unify(e) {
                return e.changedTouches ? e.changedTouches[0] : e
            };

            function lock(e) {
                x0 = unify(e).clientX;
                swipePhotoGallery.classList.toggle('smooth', !(locked = true));
//                    alert(x0);
            }

            let i = 0;
            function move(e) {
                if(locked) {
                    let dx = unify(e).clientX - x0;
                    let s = Math.sign(dx);

                    if((i > 0 || s < 0) && (i < N -1 || s > 0)) {
                        swipePhotoGallery.style.setProperty('--i', i -= s);
                        swipePhotoGallery.style.setProperty('--tx', '0px');
                        swipePhotoGallery.classList.toggle('smooth', true);
//                        writeCaptionInfo(i)
                        x0 = null;
                    } else if (i == 0) {
                        swipePhotoGallery.style.setProperty('--i', 0);
                        swipePhotoGallery.style.setProperty('--tx', '0px');
                        swipePhotoGallery.classList.toggle('smooth', true);
//                        writeCaptionInfo(i)
                    } else if (i == N - 1) {
                        swipePhotoGallery.style.setProperty('--i', N - 1);
                        swipePhotoGallery.style.setProperty('--tx', '0px');
                        swipePhotoGallery.classList.toggle('smooth', true);
//                        writeCaptionInfo(i)
                    }
                }
                locked = false;
            };

            function drag(e) {
                e.preventDefault();
                if(locked) {
                    tx = Math.round(unify(e).clientX) - x0 + 'px';
                    swipePhotoGallery.style.setProperty('--tx', tx);
                } else {
                    $('.scroll-arrow').fadeIn(1000)
                    clearTimeout(mousemoveTimeout);
                    mousemoveTimeout = setTimeout(function() {$('.scroll-arrow').fadeOut(1000);}, 1500);
                }
            }

//            function writeCaptionInfo(i) {
//                $('#artwork-title').html(titleArray[i]);
//                $('#artwork-medium').html(mediumArray[i]);
//                $('#artwork-size').html(sizeArray[i]);
//            }

            swipePhotoGalleryContainer.addEventListener('mousedown', lock, false);
            swipePhotoGalleryContainer.addEventListener('touchstart', lock, false);

            swipePhotoGalleryContainer.addEventListener('mouseup', move, false);
            swipePhotoGalleryContainer.addEventListener('touchend', move, false);

            swipePhotoGalleryContainer.addEventListener('mousemove', drag, false);
            swipePhotoGalleryContainer.addEventListener('touchmove', drag, false);

            swipePhotoGalleryContainer.addEventListener('touchmove', e => {e.preventDefault()}, false);

            $('.gallery-item').on('click touch', function() {
                i = event.target.id;
//                    i = '' + i;
                var tempString = i.replace('overlay-', '');
                i = tempString;
                $('#swipe-photo-gallery-container').show();
//                writeCaptionInfo(i);
                swipePhotoGallery.classList.toggle('smooth', false);
                swipePhotoGallery.style.setProperty('--i', i);
            });

            $('.close-gallery').on('click touch', function() {
                $('#swipe-photo-gallery-container').hide();
            });

            $('.scroll-arrow').on('click touch', function() {
                if (event.target.id == 'scroll-left' && i != 0) {
                    i--;
                    swipePhotoGallery.style.setProperty('--i', i);
                    swipePhotoGallery.style.setProperty('--tx', '0px');
                    swipePhotoGallery.classList.toggle('smooth', true);
                    x0 = null;
                }
                if (event.target.id == 'scroll-right' && i != (N - 1)) {
                    i++;
                    swipePhotoGallery.style.setProperty('--i', i);
                    swipePhotoGallery.style.setProperty('--tx', '0px');
                    swipePhotoGallery.classList.toggle('smooth', true);
                    x0 = null;
                }
            });            
            
            var scrollPosition;
            $('.scroll-left').on('click touch', function() {
                scrollPosition = $('.gallery-track').scrollLeft();
                $('.gallery-track').animate({
                    scrollLeft: (scrollPosition - 200)
                }, 500);
            });
            
            $('.scroll-right').on('click touch', function() {
                scrollPosition = $('.gallery-track').scrollLeft();
                $('.gallery-track').animate({
                    scrollLeft: (scrollPosition + 200)
                }, 500);
            });
            
            $('#hide-scrollbar').show();
      
        });
    </script>
        
  </body>
</html>